{% block capa.html %}

<div class="fixedcallicon">
	<i class="fa fa-phone"></i><span class="hide">Agende um Horário</span>
</div>
<div class="container">
	<section class="background">
	<div class="content-wrapper">
		<div class="intro">
			<h1><span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">Salão de Beleza - Brasil</span>
			<span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">Nome</span><br/>
			<span class="small wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">- do Salão -</span>
			</h1>
		</div>
	</div>
	</section>
	<section class="background">
	<div class="content-wrapper">
		<div class="about">
			<div class="aboutbadge">
				<span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><br/>
				<span class="border">Desde</span><br/>
				2022</span>
			</div>
			<div class="aboutbadge black">
				<span>Profissionais com grande experiência. </span>
			</div>
		</div>
	</div>
	</section>

{% endblock %}