{% block precos.html %}

<section class="background">
	<div class="content-wrapper">
		<div class="pricingbadge">
			<h4>Alta Qualidade, Preços Baixos</h4>
			<ul class="pricing_menu__list">
				<li class="pricing_menu__row">
				<div class="pricing_menu__meal">
					<span>Corte de Cabelo</span>
				</div>
				<span class="pricing_menu__price">R$32.00</span>
				</li>
				<li class="pricing_menu__row">
				<div class="pricing_menu__meal">
					<span>Corte Cabelos Curtos</span>
				</div>
				<span class="pricing_menu__price">R$22.00</span>
				</li>
				<li class="pricing_menu__row">
				<div class="pricing_menu__meal">
					<span>Hidratação</span>
				</div>
				<span class="pricing_menu__price">R$19.00</span>
				</li>
				<li class="pricing_menu__row">
				<div class="pricing_menu__meal">
					<span>Pintura e Tonalizante</span>
				</div>
				<span class="pricing_menu__price">R$90.00</span>
				</li>
				<li class="pricing_menu__row">
				<div class="pricing_menu__meal">
					<span>Pé e Mão com Corte de Cabelo</span>
				</div>
				<span class="pricing_menu__price">R$43.00</span>
				</li>
				<a class="listaprecos" href="listaprecos"><i class="fa fa-file-pdf-o"></i> Veja a lista completa de preços</a>
			</ul>
		</div>
	</div>
</section>

{% endblock %}